In [1]:
import pandas as pd
import numpy as np

In [3]:
reviews = pd.read_csv('./Reviews.csv')

In [30]:
reviews.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [ ]:
reviews.isnull().sum()

In [46]:
reviews.UserId[reviews.Summary.isnull()]

33958     A3TJPSWY2HE4BS
40548     A3TJPSWY2HE4BS
101106    A3TJPSWY2HE4BS
102979    A3TJPSWY2HE4BS
117515    A3TJPSWY2HE4BS
155712    A3TJPSWY2HE4BS
178290    A3TJPSWY2HE4BS
198474    A3TJPSWY2HE4BS
212691    A3TJPSWY2HE4BS
237565    A15AMT9T9A1309
293906    A3TJPSWY2HE4BS
299495    A3TJPSWY2HE4BS
300961    A3TJPSWY2HE4BS
333556    A3TJPSWY2HE4BS
352043    A3TJPSWY2HE4BS
357215    A3TJPSWY2HE4BS
357814    A3TJPSWY2HE4BS
360782    A3TJPSWY2HE4BS
379473    A3TJPSWY2HE4BS
380558    A3TJPSWY2HE4BS
381313    A3TJPSWY2HE4BS
386283    A3TJPSWY2HE4BS
392529    A22R17YPXEULEZ
484367    A3TJPSWY2HE4BS
486640    A3TJPSWY2HE4BS
503260    A3TJPSWY2HE4BS
530716    A3TJPSWY2HE4BS
Name: UserId, dtype: object

In [ ]:
reviews[reviews.ProfileName.isnull()]

In [48]:
reviews[reviews.UserId == 'A22R17YPXEULEZ']

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
392529,392530,B001H9XOEW,A22R17YPXEULEZ,Liz Wong,0,0,3,1334534400,NaN,I like the product and tried it before I pucha...

In [38]:
len(reviews[reviews.UserId == 'A3TJPSWY2HE4BS'])

25

In [33]:
reviews[reviews.UserId == 'ABXLMWJIXXAIN']

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
320690,320691,B000CQ26E0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",0,0,4,1187740800,"Fast, Easy and organic","For speed and wholesome goodness, Annie's can ..."
468953,468954,B004DMGQKE,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",0,0,5,1351209600,Awesome service and great products,We sent this product as a gift to my husband's...

In [31]:
reviews[reviews.UserId == 'A395BORC6FGVXV']

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
136303,136304,B002Y7526Y,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
544172,544173,B000U9WZ54,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...

In [51]:
reviews.loc[:10]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
5,6,B006K2ZZ7K,ADT0SRK1MGOEU,Twoapennything,0,0,4,1342051200,Nice Taffy,I got a wild hair for taffy and ordered this f...
6,7,B006K2ZZ7K,A1SP2KVKFXXRU1,David C. Sullivan,0,0,5,1340150400,Great! Just as good as the expensive brands!,This saltwater taffy had great flavors and was...
7,8,B006K2ZZ7K,A3JRGQVEQN31IQ,Pamela G. Williams,0,0,5,1336003200,"Wonderful, tasty taffy",This taffy is so good. It is very soft and ch...
8,9,B000E7L2R4,A1MZYO9TZK0BBI,R. James,1,1,5,1322006400,Yay Barley,Right now I'm mostly just sprouting this so my...
9,10,B00171APVA,A21BT40VZCCYT4,Carol A. Reed,0,0,5,1351209600,Healthy Dog Food,This is a very healthy dog food. Good for thei...
10,11,B0001PB9FE,A3HDKO7OW0QNK4,Canadian Fan,1,1,5,1107820800,The Best Hot Sauce in the World,I don't know if it's the cactus or the tequila...

In [4]:
test = reviews.loc[:10]

In [5]:
df_2 = test.copy(deep=True)

In [6]:
df_2.drop(['Id', 'ProfileName', 'HelpfulnessNumerator', 'HelpfulnessDenominator', 'Summary'], inplace = True, axis = 1)

In [7]:
from datetime import datetime

In [8]:
type(test.Time[0])

numpy.int64

In [9]:
ts = int(test.Time[0])
print(datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))

2011-04-27 00:00:00

In [10]:
#df_2.Time = df_2.Time.apply(lambda t: datetime.utcfromtimestamp(int(t)).strftime('%Y-%m-%d'))
df_2.Time = df_2.Time.apply(lambda t: datetime.utcfromtimestamp(int(t)).strftime('%Y'))

In [11]:
test.Time

0     1303862400
1     1346976000
2     1219017600
3     1307923200
4     1350777600
5     1342051200
6     1340150400
7     1336003200
8     1322006400
9     1351209600
10    1107820800
Name: Time, dtype: int64

In [12]:
df_2

,ProductId,UserId,Score,Time,Text
0,B001E4KFG0,A3SGXH7AUHU8GW,5,2011,I have bought several of the Vitality canned d...
1,B00813GRG4,A1D87F6ZCVE5NK,1,2012,Product arrived labeled as Jumbo Salted Peanut...
2,B000LQOCH0,ABXLMWJIXXAIN,4,2008,This is a confection that has been around a fe...
3,B000UA0QIQ,A395BORC6FGVXV,2,2011,If you are looking for the secret ingredient i...
4,B006K2ZZ7K,A1UQRSCLF8GW1T,5,2012,Great taffy at a great price. There was a wid...
5,B006K2ZZ7K,ADT0SRK1MGOEU,4,2012,I got a wild hair for taffy and ordered this f...
6,B006K2ZZ7K,A1SP2KVKFXXRU1,5,2012,This saltwater taffy had great flavors and was...
7,B006K2ZZ7K,A3JRGQVEQN31IQ,5,2012,This taffy is so good. It is very soft and ch...
8,B000E7L2R4,A1MZYO9TZK0BBI,5,2011,Right now I'm mostly just sprouting this so my...
9,B00171APVA,A21BT40VZCCYT4,5,2012,This is a very healthy dog food. Good for thei...
10,B0001PB9FE,A3HDKO7OW0QNK4,5,2005,I don't know if it's the cactus or the tequila...

In [115]:
df_2.to_csv('./archive/test_10_record.csv', index=False)

In [13]:
df_2.drop(['ProductId', 'UserId', 'Score'], inplace = True, axis = 1)

In [14]:
df_2

    Time                                               Text
0   2011  I have bought several of the Vitality canned d...
1   2012  Product arrived labeled as Jumbo Salted Peanut...
2   2008  This is a confection that has been around a fe...
3   2011  If you are looking for the secret ingredient i...
4   2012  Great taffy at a great price.  There was a wid...
5   2012  I got a wild hair for taffy and ordered this f...
6   2012  This saltwater taffy had great flavors and was...
7   2012  This taffy is so good.  It is very soft and ch...
8   2011  Right now I'm mostly just sprouting this so my...
9   2012  This is a very healthy dog food. Good for thei...
10  2005  I don't know if it's the cactus or the tequila...

In [15]:
df_2.to_csv(r'./test_10_record.csv', header=None, index=None, sep='\t', mode='w')

In [56]:
pd.read_csv('./archive/test_10_record.csv')

,ProductId,UserId,Score,Time,Text
0,B001E4KFG0,A3SGXH7AUHU8GW,5,2011-04-27,I have bought several of the Vitality canned d...
1,B00813GRG4,A1D87F6ZCVE5NK,1,2012-09-07,Product arrived labeled as Jumbo Salted Peanut...
2,B000LQOCH0,ABXLMWJIXXAIN,4,2008-08-18,This is a confection that has been around a fe...
3,B000UA0QIQ,A395BORC6FGVXV,2,2011-06-13,If you are looking for the secret ingredient i...
4,B006K2ZZ7K,A1UQRSCLF8GW1T,5,2012-10-21,Great taffy at a great price. There was a wid...
5,B006K2ZZ7K,ADT0SRK1MGOEU,4,2012-07-12,I got a wild hair for taffy and ordered this f...
6,B006K2ZZ7K,A1SP2KVKFXXRU1,5,2012-06-20,This saltwater taffy had great flavors and was...
7,B006K2ZZ7K,A3JRGQVEQN31IQ,5,2012-05-03,This taffy is so good. It is very soft and ch...
8,B000E7L2R4,A1MZYO9TZK0BBI,5,2011-11-23,Right now I'm mostly just sprouting this so my...
9,B00171APVA,A21BT40VZCCYT4,5,2012-10-26,This is a very healthy dog food. Good for thei...
10,B0001PB9FE,A3HDKO7OW0QNK4,5,2005-02-08,I don't know if it's the cactus or the tequila...

In [17]:
import re
# as per recommendation from @freylis, compile once only
CLEANR = re.compile('<.*?>') 

def cleanhtml(raw_html): 
    return re.sub(CLEANR, ' ', raw_html)

In [ ]:
import sys
import string
with open('./reviews_job1_dim_05.csv') as f:
    contents = f.readlines()
    #print(contents)

    
i = 0

# read line from standard input
for line in contents:
    # removing leading/trailing whitespaces
    line = line.strip()
    # split the current line into words
    year, words = line.split("\t")
    
    # remove html tag inside text
    words = cleanhtml(words)
    # replace dot with withespace
    words = words.replace(".", " ")
    
    # remove punctuation
    words = words.translate(str.maketrans('', '', string.punctuation))
    words = re.sub(' +', ' ', words)
    words = words.strip()
    # splittare riga in words per il campo text
    words = words.split(" ")
    
    for word in words:
        # write in standard output the mapping word -> 1
        # in the form of tab-separated pairs
        with open('./test_output.csv', 'a') as w:
            line = year + '\t' + word.lower() + '\t' + str(1) + '\n'
            w.writelines(line)
        #print('%s\t%s\t%i' % (year, word.lower(), 1))
w.close()
f.close()

In [167]:
testo = 'ciao...ciao.ciao.'
testo = testo.replace(".", " ")
print(testo)
testo = re.sub(' +', ' ', testo)
print(testo)
testo = testo.strip()
print(testo)

ciao   ciao ciao
ciao ciao ciao
ciao ciao ciao

In [4]:
with open('./test_output.txt') as f:
    contents = f.readlines()
year_words = {}

# input comes from STDIN
# note: this is the output from the mapper
for line in contents:

    # as usual, remove leading/trailing spaces
    line = line.strip()

    # parse the input elements
    year, current_word, current_count = line.split("\t")

    # convert count (currently a string) to int
    try:
        current_count = int(current_count)
        year = int(year)
    except ValueError:
        # count was not a number, in this case is just int
        continue

    # initialize word that were not seen befor with 0
    if year not in year_words:
        year_words[year] = {}
    
    if current_word not in year_words[year]:
        year_words[year][current_word] = 0
    
    year_words[year][current_word] += current_count

for year, words in sorted(year_words.items(), reverse=True):
    print('%i' % year)
    for word in sorted(words.items(), key=lambda x: x[1], reverse = True)[:10]:
        print('\t%s\t%i' % (word[0], word[1]))

2012
	 	222
	a	138
	e	122
	i	90
	t	85
	r	70
	o	67
	s	61
	d	58
	n	51
2011
	 	112
	i	70
	t	53
	e	52
	a	48
	o	45
	r	32
	s	31
	the	30
	d	26
2008
	 	92
	a	48
	t	48
	i	45
	e	38
	s	33
	and	30
	the	30
	h	27
	is	25
2005
	 	143
	a	81
	e	76
	t	63
	i	47
	o	46
	the	40
	of	40
	n	38
	u	32